.btn {
    &.btn-green {
        background: linear-gradient(92.8deg, rgba(255, 255, 255, 0.6) -1.42%, rgba(10, 176, 96, 0.6) 102.82%), #20FF93;
        box-shadow: 0px 0px 33px #20FF93;
        border-radius: 7px;
    }
    &.btn-special {
        background: linear-gradient(92.8deg, rgba(255, 255, 255, 0.6) -1.42%, rgba(205, 21, 205, 0.318) 102.82%), #FF36FF;
        box-shadow: 0px 0px 74px #FF36FF, inset 0px -2px 0px #FF36FF;
        border-radius: 21px;
        font-weight: 900;
        font-size: 24px;
        color: #FFFFFF;
        padding: 8px 35px;
    }
    &.btn-default {
        background: linear-gradient(328.75deg, #493C85 -5.49%, #0F0038 104.44%);
border: 1px solid #40337A;
box-sizing: border-box;
border-radius: 7px;
color:#fff;
    }
}