.card {
    &.base-card-light {
        color:#fff;
        background:#1a0948;
        .amount {
            font-style: normal;
font-weight: bold;
font-size: 48px;
margin-bottom:0;
        }
    }
    &.base-card {
        background:transparent;
        color:#fff;
        .slogan {
            font-size: 19px;
    opacity: 0.5;
    margin-bottom: 44px;
    @media(max-width:620px){
        font-size: 14px;
    opacity: 0.5;
    margin-bottom: 20px;
    }
        }
        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 67px;
            @media(max-width:620px){
                font-size: 25px;
                line-height: 20px;
            }
        }
        h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 79px;
            line-height: 79px;
            margin-bottom:0;
            color: #FFFFFF;
            span {
                font-style: normal;
font-weight: 500;
font-size: 36px;
            }
            @media(max-width:1500px){
                font-size:56px;
                span {
                    font-size: 23px;
                }
            }
            @media(max-width:620px){
                font-size:51px;
                span {
                    font-size:21px;
                }
            }
            &.alte {
                font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 42px;

color: #FAFF00;
span {
    font-weight: 500;
font-size: 21px;
line-height: 31px;
}
@media(max-width:620px){
    font-size:36px;
    span {
        font-size:16px;
    }
}
            }
        }
        .sub-title {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color:#ff0dff;
            margin-bottom:0;
        }
    }
    &.latest-draw {
        margin-top: 0;
        background: radial-gradient(#14043e, #4b1a7882);
        border: 1px solid #4c1b79;
        box-shadow: none;
        .card-header {
            h3 {
                color: #f035f0;
            }
        }
        .card-body {
            padding: 5px;
            .players {
                font-size: 33px;
                font-weight: 700;
                margin-bottom: -8px;
            }
            .sub {
                margin-bottom: 10px;
                text-transform: uppercase;
                color: #20ff93;
            }
        }
    }
    &.lota-card {
        background: #1a0948;

        .card-header {
            .card-header-icon {
                width: 145px;
                height: 145px;
                margin: 0 auto;
                border-radius: 145px;
                background: linear-gradient(
                        133.11deg,
                        rgba(32, 255, 147, 0.2) 0%,
                        rgba(0, 0, 0, 0) 200.37%
                    ),
                    #0f0038;
                border: 8px solid #20ff93;
                box-shadow: 0px 0px 94px rgba(32, 255, 147, 0.4);
                display: block;
                line-height: 125px;
                text-align: center;
                margin-bottom: 10px;
                margin-top: -85px;
            }

            h3 {
                font-weight: 700;
                font-size: 46px;
                color: #ffffff;

                @media (max-width: 768px) {
                    font-size: 28px;
                }
            }
        }

        &.proposals {
            padding: 35px 35px;
            background: transparent;
            border: 0;
            .card-header {
                border: 0;
                background: #1a0948;
            }
            h3 {
                font-weight: bold;
                font-size: 46px;

                @media (max-width: 510px) {
                    font-size: 32px;
                    text-align: center;
                }
            }

            @media (max-width: 768px) {
                padding: 15px 15px;
            }

            @media (max-width: 510px) {
                .btn-plain {
                    width: 100%;
                }

                .card-body {
                    padding: 0;
                }
            }
        }

        &.staking {
            padding: 15px;

            h3 {
                font-weight: bold;
                font-size: 46px;
                line-height: 54px;
                text-align: center;
                color: #ffffff;
            }

            .slogan {
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: rgba(255, 255, 255, 0.52);
            }

            .form-control {
                font-size: 21px;
                padding: 10px 15px;
                font-weight: bold;
            }

            .nav-pills {
                .nav-item {
                    background: #0f0038;

                    .nav-link {
                        color: #fff;
                        opacity: 0.6;

                        label {
                            position: absolute;
                            background: #f13ff1;
                            font-size: 12px;
                            padding: 0px 4px;
                            margin-top: -15px;
                            margin-left: -12px;
                            border-radius: 4px;
                            transform: rotate(6deg);
                            font-weight: 700;
                        }

                        &.active {
                            opacity: 1;
                            background: linear-gradient(
                                328.75deg,
                                #41347b -5.49%,
                                #41347b 19.13%,
                                #160741 104.44%
                            );
                            border: 1px solid #0f0038;
                        }
                    }
                }
            }

            .btn-plain {
                transition: all 150ms linear;
                box-shadow: 0px 0px 0px #ff36ff;

                &:hover {
                    color: #ff36ff;
                    box-shadow: 0px 0px 10px #ff36ff;
                }
            }

            @media (max-width: 768px) {
                padding: 10px 5px;
                margin-bottom: 20px;
                border-radius: 5px;
            }
        }

        &.staking-rewards {
            padding: 35px 35px;  
            margin-top:35px;
            h2 {
                font-weight: bold;
                font-size: 46px;
                line-height: 54px;
                color: #ffffff;

                @media (max-width: 510px) {
                    font-size: 32px;
                }
            }

            p {
                font-weight: normal;
                font-size: 33px;
                margin-top: 15px;
                color: #f035f0;
            }

            .current-value {
                font-weight: bold;
                font-size: 32px;
                margin-left: 15px;
                margin-top: 15px;
                color: #ffffff;
                position: absolute;
                background: #090023a8;
                padding: 0px 10px;
                border-radius: 10px;

                span {
                    font-weight: normal;
                    font-size: 15px;
                    color: #20ff93;
                }
            }

            @media (max-width: 768px) {
                padding: 10px 5px;
                margin-bottom: 20px;
                border-radius: 5px;
            }
        }
    }
}
