.progress {
    width:100%;
    background: #10003A;
    border: 1px solid #190259;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    height:20px;
    overflow:hidden;
    position:relative;
    margin-bottom:10px;
    .progress-bar {
        
        &.special {
            background: linear-gradient(180deg, #73FFC1 0%, #3FFFA4 50.52%, #35E391 50.53%, #00FF82 100%);;
        border-radius: 36px;
        color: #0e0034;      
        }

        &.danger {
            background: linear-gradient(
            92.8deg
            , rgba(255, 255, 255, 0.6) -1.42%, rgba(205, 21, 205, 0.318) 102.82%), #FF36FF;
            border-radius: 36px;
            color: #0e0034;    
        }
    }
}

.countdown {
    background: linear-gradient(
180deg
, #0f0229c4 -38.49%, #251656cf 104.44%);
    padding: 14px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-top: -25px;
    .title {
        text-transform: uppercase;
    margin: 0;
    color: #ff36ff;
    }
    .time {
        font-weight: 900;
        font-size: 33px;
        color: #FFFFFF;
        @media(max-width:500px){
            font-size:28px;        
          }
    }
    .time-low {
        font-weight: normal;
    font-size: 11px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: -10px;
    text-transform: uppercase;
    }
    .spacer {
        font-size: 32px;
    font-weight: 900;
    color: #fff;
    line-height: 57px;
        @media(max-width:500px){
            font-size: 28px;
            line-height: 51px;   
          }
    }
}

