.splide, .splide__slide {
    position: relative;
    outline: none;
    min-height: 120px;
    margin-top:10px;
}

.news-item {
    background:#140641ba;
    border-radius:5px;
    text-align:left;
    padding: 20px 10px;
    .content {
        width:100%;
        p {
            margin: 0;
            margin-top: -6px;
            font-weight: 600;
            font-size:14px;
        }
        small {
            margin:0;
            opacity:0.7;
            font-size:12px;
        }
    }
    svg {
        padding: 5px;
        display: inline-block;      
        background: #0d0327;
        border-radius: 5px;

    }
}