.ticketmodal {
    visibility: hidden; 
    width:400px;
    z-index:3;
    position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
    transition:all 200ms linear;
    background: linear-gradient(328.75deg, #493C85 -5.49%, #0F0038 104.44%);
    box-shadow: 0px 28px 0px #0F0038;
    opacity:0;
    .ticketmodal_heading {
        padding:15px;
    }
    .ticketmodal_content {
        padding:15px;
        .list-group {
            max-height: 310px;
            overflow-y: auto;
            .list-group-item {
                border-bottom: 8px solid #1f104d;
                background: #180943;
                color:#fff;
                .form-control {
                    width:calc(100%/6);
                    display:inline-block;
                    font-weight:bold;
                    color:#FF36FF;
                }
            }
        }
    }
    &.show {
        opacity:1;
        visibility: visible;
    }
}