@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/@splidejs/splide/dist/css/themes/splide-default.min.css';


$primary: #FF36FF;
$secondary: #10003B;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
);
// (Required) Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

a {
    color: $primary;
}

//Coingecko widget styling

.cg-container {
    background-color:#281b59 !important;
    color:#fff;
    border-radius: 10px;
    overflow: hidden;
    .cg-widget-container {
      background-color:#281b59 !important;
      color:#fff;
    }
  }

  //Combine todo
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



@font-face {
  font-family: 'Cosmos';
  src: local('Cosmos'), url('../fonts/AVCosmos-Regular.woff') format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                          'embedded-opentype', and 'svg' */
}

@import './countdown';
@import './buttons';
@import './cards';  
@import './tables'; 
@import './usermodal'; 
@import './ticketmodal'; 
@import './proposalmodal'; 
@import './allowancemodal'; 
@import './proposals'; 
@import './notifications'; 
@import './newsitem'; 
@import './how';
@import './socialshare';
@import './app.scss'; 
@import './main-nav';
