.footer {
    width:100%;
    float:left;
    color:#fff;
    text-align:center;
    padding:55px 0 35px 0;
    font-size:14px;
    p {
        margin:0 0 5px 0;
        color:#FF36FF;
        strong {
            color: #fff6;
        }
    }
}