.header {
    background:transparent;
    width:100%;
    padding:15px 25px;
    height:auto;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 99;
    transition:all 200ms linear;
    nav {
        width:100%;
        float:left;
    }
    img {
        float:left;
        display:inline-block;
    }   
  
        ul {
            list-style-type:none;
            float:left;
            width:auto;
            display:inline-block;
            position:relative;
            top:3px;
            li {
                float:left;
                margin:0 5px;
                a {
                    padding:10px 30px;
                    color:#fff;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #FFFFFF;
                    background: #10003B;
                    border: 1px solid #40337A;
                    box-sizing: border-box;
                    border-radius: 7px;          
                    transition:all 250ms linear;
                    &.active {
                        background: linear-gradient(328.75deg, #F042F0 -5.49%, #8A249D 19.13%, #0F0038 104.44%);
                        border: 1px solid #F257F2;
                    }          
                    &:hover {
                        border: 1px solid #F257F2;
                    }
                }
            }

            &:last-of-type {              
                float:right;
                width:auto;                
                margin-top:3px;
                button {
                    padding: 10px 30px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #0E0034;         
                    svg {
                        margin-bottom: -7px;
                        margin-top: -10px;
                    }           
                }
            }
        }

        @media(max-width:990px){
            padding:15px 0;
            right: -400px; 
            width: 400px;
            left: auto;
            height: 100vh;
            top: 0;
            bottom: 0;
            background: linear-gradient(95.45deg, #3B2E73 -92.2%, #10003B 105.35%);
            box-shadow: -13px 4px 18px rgba(0, 0, 0, 0.62);
            text-align:center;
            z-index:999;
            img {
                float:none;
            }
            ul {
                width:100%;
                display:block;
                margin:80px 0 0 0;
                padding:0;
                li {
                    width:100%;
                    margin:0 0 0 0;
                    a {
                        width:100%;
                        display:block;
                        border-radius:0;
                        background:transparent;
                        font-weight: 500;
                        font-size: 21px;
                        line-height: 52px;
                        color: #FFFFFF;
                        text-align:left;
                        border-left:0;
                        &.active {
                            border:0;
                        }
                    }
                }
                &:last-of-type {              
                    margin-top:20px;
                    float:left;
                    width:100%;
                    display:block;
                    padding:15px;
                    button {
                        width:100%;
                        margin-bottom:15px;
                        svg {
                            margin-bottom: -7px;
                            margin-top: -10px;
                        }           
                    }
                }
            }
            &.show {
                right:0;
            }
        }
 
}

.show {
    right:0;
 
}

.mobile_toggle {
    display:none;
    z-index:888;
    background:transparent;
    border:0;
    color:#fff;
    padding:15px;
    @media(max-width:990px){
        display:block;
        position:fixed;
        right:0;     
        top:0;
    }   
}

.mobile_toggle_nav {
    display:none;
    z-index:888;
    background:transparent;
    border:0;
    color:#fff;
    padding:15px;
    @media(max-width:990px){
        display:block;
        position:absolute;
        right:0;     
        top:0;
    }   
}

.mobile_logo {
    position:fixed;
    left:15px;
    z-index:99;
    top:15px;
    display:none;
    @media(max-width:990px){
        display:block;        
    }   
}

.sticky {
    transition:all 200ms linear;
    background: linear-gradient(181.23deg, #0F0036 1.05%, rgba(16, 0, 58, 0) 147.9%);
}

.backdrop {
    position:fixed;
    background: #0F0038;
    width:100%;
    height:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity:0;
    visibility: hidden;
    z-index:888;
    transition:all 250ms linear;
}

.backdrop_show {
    opacity:0.85;
    visibility: visible;
}



