.main {    
    width:100%;
    float:left;
    padding:75px 0;
    height:550px;
    background: linear-gradient(102.05deg, #0E0033 -0.19%, rgba(14, 0, 51, 0) 106.07%), #1B025F;      
    position:fixed;
    z-index:0;
} 