$gutter: 15px;

//Colors
$green: green;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #0F0038;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center {
  text-align:center;
}

.w100 {
  width:100%;
}

////////////////
// Grid
///////////////

.w12 {
  width:100%;
  padding:$gutter;
  float:left;
  @media(max-width:768px){
    width:100%
  }
}

.w5 {
  width:41.66%;
  padding:$gutter;
  float:left;
  @media(max-width:768px){
    width:100%
  }
}

.ww6 {
  width:50%;
  padding:$gutter;
  float:left;
}

.w6 {
  width:50%;
  padding:$gutter;
  float:left;
  @media(max-width:768px){
    width:100%
  }
}

.w4 {
  width:33.33%;
  padding:$gutter;
  float:left;
  @media(max-width:768px){
    width:100%
  }
}

.w7 {
  width: 58.33%;
  padding:$gutter;
  float:left;
  @media(max-width:768px){
    width:100%
  }
}

.w8 {
  width: 66.66666667%;
  padding:$gutter;
  float:left;
  @media(max-width:768px){
    width:100%
  }
}

.w3 {
  width:20%;
  padding:$gutter;
  float:left;
}

////////////////
// Paddings
///////////////

.p0 {
  padding:0;
}

.pr0 {
  padding-right:0;
}

.pl0 {
  padding-left:0;
}

////////////////
// Margins
///////////////

.mb-1 {
  margin-bottom:1rem;
}
.mb-2 {
  margin-bottom:2rem;
}
.mb-3 {
  margin-bottom:3rem;
}
.mb-4 {
  margin-bottom:4rem;
}

.mt-1 {
  margin-top:1rem;
}
.mt-2 {
  margin-top:2rem;
}
.mt-3 {
  margin-top:3rem;
}
.mt-4 {
  margin-top:4rem;
}

.m0 {
  margin:0;
}

////////////////
// Fonts
///////////////

.fm {
  font-size:16px;
}

.fb {
  font-size: 24px;
}

.fxl {
  font-size: 46px;
}

////////////////
// Cards
///////////////

.lota-card {
  background: linear-gradient(328.75deg, #493C85 -5.49%, #0F0038 104.44%);
  border-radius: 10px;
  padding:10px;
  width:100%;
  float:left;
  color:#fff;
  box-shadow: 0px 28px 48px #0F0038;
  &.big {
    border-radius:30px;
  }
}

.base-card {
  background: #180943;
  border-radius: 10px;
  padding:10px;
  width:100%;
  float:left;
  color:#fff;
  p {
    margin:0 0 5px 0;
    &.desc {
      color: rgba(255, 255, 255, 0.58);
    }
    strong {
      color: rgba(255, 255, 255, 0.58);
    }
  }
  .w6 {
    padding:0;
  }
}

.plain-card {
  background: #1D0E4A;
  border-radius: 10px;
  padding:10px;
  width:100%;
  float:left;
  color:#fff;
}

////////////////
// Buttons
///////////////

button {
  border:0;
  padding:1rem 2rem;
  transition:all 150ms ease-in;
    &.plain {
      color: #FFFFFF;
      background: #10003B;
      border: 1px solid #40337A;
      box-sizing: border-box;
      border-radius: 7px;
    }
    &.default {
      
    }
    &.pink {
      color:#fff;
      background: linear-gradient(92.8deg, rgba(255, 255, 255, 0.6) -1.42%, rgba(205, 21, 205, 0.318) 102.82%), #FF36FF;
      box-shadow: 0px 0px 74px #FF36FF, inset 0px -2px 0px #FF36FF;
      border-radius: 21px;
      // &:hover {        
      //   box-shadow: 0px 0px 0px #FF36FF, inset 0px -2px 0px #FF36FF;
      //   transform:translateY(-30px) scale(1.1);
      // }
    }

    &.green {
      background: linear-gradient(92.8deg, rgba(255, 255, 255, 0.6) -1.42%, rgba(10, 176, 96, 0.6) 102.82%), #20FF93;
      box-shadow: 0px 0px 33px #20FF93;
      border-radius: 7px;
    }

    &:hover {
      cursor:pointer;
    }
}

////////////////
// Input
///////////////

.form-group {
  
  label {
    color:#fff;
    text-align:left;
    display:block;
    margin-bottom:8px;
  }
  .input {
    width:100%;
    background: #10003B;
    border: 1px solid #44377E;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size:16px;
    color:#fff;
    padding:15px 15px;
  }
}

////////////////
// Table
///////////////

.table {
  float:left;
  width:100%;
  border-collapse: collapse;
  thead {
    text-align:left;    
      th {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;    
        color: rgba(255, 255, 255, 0.26);
        padding-bottom:10px;
      }
  }
  tbody {
    tr {
      background: #180943;
      border-bottom:5px solid #2F2162;      
        td {
          padding:5px;
            &.big {
              background: #0F0038;
              text-align:center;
              font-weight: 900;
              font-size: 36px;
              line-height: 42px;
              color: #FFFFFF;
            }
            &.pink {
              color: #FF36FF;
            }
            &.price {
              font-weight: 900;
              font-size: 16px;
              line-height: 19px;
              color: #FFFFFF;
                span {
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 19px;
                  color: rgba(255, 255, 255, 0.3);
                }
            }
        }
    }
  }
}